<h1>I add cars</h1>

<form action="/addCar" method="post">
<fieldset>
<legend>Create Car:</legend>
    Make:<br>
    <input type="text" name="mark" placeholder="Add my mark"><br>
    Model:<br>
    <input type="text" name="model" value="Add my model"><br>
    Image:<br>
    <input type="text" name="image" placeholder="Add image"><br>
    Year:<br>
    <input type="text" name="year" placeholder="what is my age"><br>
    Price Per Day:<br>
    <input type="text" name="pricePerDay" placeholder="what is my price"><br>
    <input type="submit" value="Submit">
</fieldset>
</form>